body > div {
    // &:first-child {display:none}

    &:last-child {
        display: absolute;
        width  : 100%;
        height : 100%;
        top    : 0;
        bottom : 0;
        right  : 0;
        left   : 0;

        main {
            box-sizing: border-box;
            display   : block;
    	    position  : absolute;
    	    visibility: inherit;
    	    overflow-x: hidden;
    	    overflow-y: scroll;

            // Force wraps x-overflow
            // white-space: pre;
            word-wrap: break-word;

            top    : 0;
            bottom : 0;
            right  : 0;
            left   : 0;
            padding: 5px 5px 40px 11px;
        }

        div {
            box-sizing: border-box;
            display   : block;
            position  : absolute;

            height  : 45px;
            margin  : 0;
            padding : 0;

            left  : 0;
            right : 25px;
            bottom: 0;

            input, input:focus {
                box-sizing: border-box;

                display : block;
                position: absolute;
                width   : 100%;
                height  : 35px;
                margin  : 5px;
                padding : 5px;
            }
        }
    }
}
